*.jpg diff=jpg
*.jpeg diff=jpg
*.png diff=exif
*.gif diff=exif
	
*.docx diff=pandoc2md
*.pdf diff=pdfconv
*.py diff=color
*.md diff=wrap

*.py filter=cleanpython
*.java filter=secret diff=secret

*.mp3 diff=mp3